
//Grid
@media screen and (min-width:320px) and (max-width:768px) {
    .testimonial {
        width: 80%;
        margin: 5rem 2rem;

        &__quote{
            right: 7%;
        }
        &--1{
            grid-row: 1/2;
            grid-column: 1/5;
        }
        &--2{
            grid-row: 2/3;
            grid-column: 1/5;
            margin-top: 18rem;
        }
        &--3{
            grid-row: 3/4;
            grid-column: 1/5;
        }
        &--4{
            grid-row: 4/5;
            grid-column: 1/5;
        }
        &--5{
            grid-row: 5/6;
            grid-column: 1/5;
            width: 100%;
            
        }
    }
}


@media screen and (width:320px){
    .testimonial{
        box-sizing: border-box;
        justify-items: center;

        &--1,
        &--2,
        &--3,
        &--4,
        &--5
        {
            max-width: 300px;
            margin-right: 10rem;
        }

        &--2{
            margin-top: 29rem;
        }

        &--3{
            margin-top: 1rem;
        }
        &--4{
            margin-top: 1rem;
        }
    }
}

@media screen and (min-width:321px) and (max-width:375px) {
    .testimonial{
        box-sizing: border-box;
        justify-items: center;

        &--1,
        &--2,
        &--3,
        &--4,
        &--5
        {
            // max-width: 340px;
            margin-right: 5rem;
        }

        &--2{
            margin-top: 20rem;
        }

        &--3,
        &--4{
            margin-top: 0.5rem;
        }
        &--5{
            max-width: 320px;
            height: max-content;
        }
    }
}


//Flexbox
// @media screen and (min-width: 320px) and (max-width:768px) {
//     .testimonial{
//         display: flex;
//         flex-direction: column;

//         &__quote{
//             right: 7%;
//         }

//         &--3{
//             margin-top: 0rem;
//         }
//         &--4{
//             margin-top: 0rem;
//         }
//         &--5{
//             width: fit-content;
//         }
// }
// }